.Navbar {
    background-color: #021E39;
    width: 100vw;
    height: 100px;
    display: flex;
}

.Navbar .leftSide {
    flex: 20%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.Navbar .leftSide a img {
    width: 90px;
    height: 130px;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    
}

.Navbar .rightSide .links {
    max-height: 80px;
    margin-right: 50px;
}

.Navbar .rightSide .links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

.Navbar .rightSide {
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-right: 25px; */
}

.Navbar .rightSide button {
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-left: 15px;
}

.Navbar .rightSide .listicon {
    color: white;
}

.Navbar .rightSide #hidden {
    display: flex;
}

button:hover {
    cursor: pointer;
}

.Navbar .rightSide .listicon {
    display: none;

}

/* @media only screen and (max-width: 1200px) {
    .Navbar .leftSide .links a {
        font-size: 30px;
    }
}  */



@media only screen and (max-width: 650px) {
    .Navbar .rightSide button {
        display: flex;
    }

    .Navbar .rightSide .links {
        display: none;
    }

    .Navbar .rightSide #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        height: 230px;
        max-height: 230px;
        width: 100%;
        background-color: #021E39;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .Navbar .rightSide #hidden a{
        margin: 10px;
        font-size: 25px;
    }

    /* .Navbar .rightSide button {
        
        width: 200px;
        height: 40px;
        font-size: 16px;
        
    } */

} 






