.Navbar {
    position: fixed;
    /* background-color: #021E39; */
    width: 100vw;
    height: 100px;
    display: flex;
    z-index: 20;
    border-bottom: 2px solid #141414;
    /* box-shadow: 5px 5px rgb(132 81 61 / 35%) */
    font-weight: bold;
    background-color: var(--color-yellow);
	background-image: radial-gradient(var(--color-dark-yellow) 20%, transparent 0), radial-gradient(var(--color-dark-yellow) 20%, transparent 0);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
    box-shadow: 4px 4px 4px 4px rgb(132 81 61 / 35%);
}

.Navbar .leftSide {
    flex: 20%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.Navbar .leftSide a img {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;    
}

.Navbar .rightSide .links {
    max-height: 80px;
    margin-right: 100px;
}

.Navbar .rightSide .links a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 25px;
}

.Navbar .rightSide .links a:hover{
    font-size: 28px;
}

.Navbar .rightSide {
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.Navbar .rightSide button {
    /* display: flex; */
    width: 200px;
    height: 40px;
    font-size: 16px;
    background-color: whitesmoke;
    border: 1px solid #141414;
    border-radius: 30px;
    /* margin-left: 15px; */
    box-shadow: 3px 3px 3px 3px rgb(132 81 61 / 35%);
}

.Navbar .rightSide button:hover {
    background-color: #141414;
    border: 2px solid #141414;
    color: whitesmoke;
}

.userInfoBox {
    position: absolute;
    right: 100px;
    top: 75px;
    width: 200px;
    height: 150px;
    color: white;
    background-color: rgba(14, 14, 14, 0.9);
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userInfoBoxTitle {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 20px;
}

.userInfoBoxBtn {
    width: 160px;
    height: 40px;
    font-size: 16px;
    color: #141414;
    background-color: whitesmoke;
    border: 1px solid #141414;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userInfoBoxBtn:hover{
    background-color: #141414;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.Navbar .rightSide #hidden {
    display: flex;
}

button:hover {
    cursor: pointer;
}

.Navbar .rightSide .listicon {
    display: none;
    color: #141414;
    margin-right: 100px;
    cursor:Pointer;
}

@media only screen and (max-width: 1246px) {
    .Navbar .rightSide .listicon {
        display: flex;
    }

    .Navbar .rightSide .links {
        display: none;
    }

    .Navbar .rightSide #hidden {
        position: absolute;
        left: 0px;
        top: 100px;
        height: 400px;
        max-height: 360px;
        width: 100%;
        background-color: var(--color-yellow);
	    background-image: radial-gradient(var(--color-dark-yellow) 20%, transparent 0), radial-gradient(var(--color-dark-yellow) 20%, transparent 0);
	    background-size: 20px 20px;
	    background-position: 0 0, 10px 10px;
        box-shadow: 4px 4px 4px 4px rgb(132 81 61 / 35%);
        display: flex;
        flex-direction: column;
    }

    .Navbar .rightSide #hidden a{
        margin: 10px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .Navbar .rightSide #hidden .userInfoBox {
        position: absolute;
        width: 200px;
        height: 120px; 
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
        color: white;
        /* background-color: rgba(2, 30, 57, 0.9); */
        border: 1px solid gray;
        border-radius: 10px;
        font-size: 15px;
    }


    

    /* .Navbar .rightSide button {
        
        width: 200px;
        height: 40px;
        font-size: 16px;
        
    } */

} 

