.myCardListContainer {
    /* height: 1500px; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    margin-top: 30px;
    justify-content: center;
    flex-direction: row ;
    flex-wrap: wrap; 
}

.cardListContainer {
    /* display: flex; */
    width: 320px;
    height: 440px;
    /* border: 2px solid black; */
    border-radius: 15px;
    box-shadow:gray 0px 2px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.cardListContainer:hover {
    
	border: 3px solid pink;
}

.myNftCard {
    width: 320px;
    height: 320px;
    background-size: contain;
    border-radius: 15px;
}

.cardListContainer .cardtxtContainer {
    width: 320px;
    height: 80px;
}

.cardListContainer .cardtxtContainer .cardtxt {
    display: flex;
    /* margin-bottom: 20px; */
    height: 40px;
    /* justify-content: center; */
}

.cardListContainer .cardtxtContainer .cardtxt .cardlisttitle {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cardListContainer .cardtxtContainer .cardtxt .cardlistname {
    flex: 50%;
    display: flex;
    align-items: center;
    
}


.cardListContainer  .cardtxtContainer .cardtxt .cardlistprice {
    flex: 50%;
    display: flex;
    align-items: center;
}

.klayicon {
    width: 20px;
    height: 20px;
}