.parallaxContainer {
    width: 100%;
    overflow: hidden;
    min-height: 2000px;
    /* display: flex; */
    
  }
  .parallaxContainer p {
    position: relative;
    z-index: 2;
  }
  
  .desc {
    font-weight: bold;
    font-size: 50px;
    color: tomato;
    left: 50%;
    margin-top: 70px;
  }
  
  .desc2 {
    font-weight: bold;
    font-size: 30px;
    color: rgb(70, 70, 223);
    right: 50%;
    margin-top: 70px;
  }
  
  .desc3 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #666;
    opacity: 1;
  }

  