

.partnerTitle {
    display: flex;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.4);
}
.partnerTitle span{
    font-size: 70px;
}
.partnerslogofContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.4);
}


.logoSection {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

.partnerLogo{
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .partnerLogo img {
    background-size: contain;

} */