.partnerContainer{
    margin-top: 4.861vw;
    position: relative;
    /* background-color: rgba(245, 245, 245, 0.4); */
    /* margin-bottom: 6.944vw; */

}

.partnerTitle {
    display: flex;
    justify-content: center;
    padding-top: 3.472vw;

    
}
.partnerTitle span{
    font-size: 70px;
}
.partnerslogofContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.083vw;
}


.logoSection {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

.partnerLogo{
    width: 13.889vw;
    height: 13.889vw;
    margin: 1.389vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 875px) {
    .partnerTitle span{
        font-size: 40px;
    }
}