.blackJackMainContainer {
  padding-top: 100px;
}

.myGameNftContainer {
/* background-color: blue; */
}

.blackjackgameRoleTable {
display: flex;
justify-content: center;
margin-top: 2.083vw;
margin-bottom: 1.389vw;
}

.blackjackgameRoleTable table {
border: 0.139vw solid black;
width: 300px;
height: 100px;
/* border-collapse: collapse; */
text-align: center;
font-size: 18px;
}

.blackjackgameRoleTable th, td {
/* border: 0.139vw solid black; */
padding: 0.694vw 0.139vw;


}

.blackjackgameRoleTable tbody {
/* background-image: url('../images/5.png'); */
background-size: cover;
background-repeat: no-repeat;
color: black;
opacity: 0.9;
}

.blackjackgameRoleTable th {
background-color: black;
color: white;
}

.blackjackgameRoleTable tr {
  text-align: center;
  align-items: center;
}

.tdCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.139vw solid black; */
}

.myGameNftSection {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 50px;
}

.myGameNftSection img {
width: 200px;
height: 250px;
border-radius: 20px;

background-size: cover;
background-repeat: no-repeat;
}


.center {
  display: flex;
  justify-content: center;
}

.bank {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: 10px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.05s ease-out;
}

button:focus {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.9);
}
