.gameMainContainer {
    /* width: 100%; */
    /* min-width: auto; */
    min-height: auto;
    /* margin-bottom: 40px auto; */
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .test10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .startBtn {
    background: purple;
    border: 2px solid white;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  
  .startBtn:hover {
    background: green;
    color: #fff;
  }
  
  .card-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    cursor: pointer;
  }