.gamePageMainContainer {
    /* width: 100%; */
    height: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
}

.cardGameTitleContainer{
  padding-top: 200px;
  height: 4.167vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform:rotate(-3deg);
  /* top: -2.083vw; */
  margin-bottom: 1.563vw;
}

.cardGameTitleContainer h2{
  font-size: 2.778vw;
  color: whitesmoke;
  background-color: #272727;
  padding: 0.781vw;
  padding-left: 1.042vw;
  padding-right: 1.042vw;
  border: 0.052vw solid #272727;
  border-radius: 0.521vw;
}



hr.style-five {
  border-radius: 20px;
  width: 80%;
  height: 5px;
  margin-left: 130px;
  margin-top: -20px;
  border: 0;
  background: #272727;
}

.gameSelectContainer {
    /* padding: 50px 100px 0px 100px; */
    /* width: 100%; */
    height: 100%;
    margin-top: 50px;
    /* background-color: #2a3cad; */
}

.nftRankContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.leftZolImgContainer {
  position: absolute;
  left: 40px;
}
.leftZolImgContainer img {
  width: 300px;
  height: 300px;
}
.rightZolImgContainer {
  position: absolute;
  right: 40px;
}

.rightZolImgContainer img {
  width: 300px;
  height: 300px;
}

.airdropConatiner{
  display: flex;
  flex-direction: column;
}

.gameRewardContainer{
  display: flex;
  justify-content: center;
}

.rankIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameTimerContainer{
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-top: 30px;
}

.gameTimerContainer button{
  width: 200px;
  height: 40px;
  margin-left: 20px;
  background-color: whitesmoke;
  border: 1px solid #141414;
  border-radius: 30px;
  box-shadow: 3px 3px 3px 3px rgb(132 81 61 / 35%);
}

.gameTimerContainer button:hover{
  background-color: #141414;
  border: 2px solid #141414;
  color: whitesmoke;  
}

.crownIcon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.rankImgContainer {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;
  border: 4px solid black;
}

.alertAirdrop{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameScoreTable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.083vw;
  margin-bottom: 1.389vw;
}

.gameScoreTable table {
  border: 0.139vw solid black;
  width: 41.667vw;
  height: 10.417vw;
  border-collapse: collapse;
  text-align: center;
  font-size: 1.302vw;
}

.gameScoreTable th, td {
  border: 0.139vw solid black;
  padding: 0.694vw 0.139vw;
  
}

.gameScoreTable tbody {
background-size: cover;
background-repeat: no-repeat;
color: black;
opacity: 0.9;
}

.gameScoreTable th {
  background-color: black;
  color: white;
}

.gameTimerContainer {
  display: flex;
  justify-content: center;
}

.gamePageTitle {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.gamePageTitle span {
    font-size: 30px;
}
.gameSelectSection {
    /* background-color: brown; */
    width: 100%;
    height: 100%;
    display: flex;
}

.testBorderContainer {
  display: flex;
  height: 100%;
}

.gameBox1{
    display: flex;
    justify-content: center;
    flex: 33%;
    /* background-color: aqua; */
    /* width: 100%; */
}


.gameTitle {
    display: flex;
    justify-content: center;

}

.gameTitle p {
    font-size: 1.302vw;
    
}

.gameDescriptionTxt {
    display: flex;
    justify-content: center;
    font-size: 0.938vw
}

.gameThumbnail {
    display: flex;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
}

.gameThumbnail img {
    width: 15.625vw;
    height: 15.625vw;
}

.gameStartBtn {
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
}

.gameStartBtn button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
}

.gameBox2{
    display: flex;
    justify-content: center;
    flex: 33%;
    /* background-color: #f0a591; */
    /* width: 100%; */
}

.gameBox3 {
    display: flex;
    justify-content: center;
    flex:33%;
    /* background-color: bisque; */
    /* width: 100%; */
}

.gameBoxContainer {
    display: flex;
}

.testBorderContainer {
  display: flex;
  justify-content: center;
}

.test1234 {
  margin-right: 3.125vw;
  margin-left: 3.125vw;
}


.box12{
  position: relative;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 20.833vw;
  height: 26.042vw;
  /* background: #111845a6; */
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0.365vw 0.365vw 0.365vw 0.365vw rgb(132 81 61 / 80%);
  border: 2px solid #2a3cad;
  border-radius: 1.042vw;
  color: black;
  padding: 1.042vw;
}

.box12:before{
  content: '';
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box12:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box12 .content12{
  position:absolute;
  top:0.781vw;
  left:0.781vw;
  right:0.781vw;
  bottom:0.781vw;
  /* border:0.052vw solid black; */
  padding:1.042vw;
  text-align:center;
  /* box-shadow: 0 5px 10px rgba(9,0,0,0.5); */
  
}

.box12 span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.box12 span:nth-child(1)
{
  transform:rotate(0deg);
}

.box12 span:nth-child(2)
{
  transform:rotate(90deg);
}

.box12 span:nth-child(3)
{
  transform:rotate(180deg);
}

.box12 span:nth-child(4)
{
  transform:rotate(270deg);
}

.box12 span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: purple;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
}