.marketTitleContainer {
    /* padding-top: 10.417vw; */
    height: 4.167vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:rotate(-3deg);
    top: -2.083vw;
    margin-bottom: 9.994px;
}

.marketTitleContainer h2{
    font-size: 2.778vw;
    color: whitesmoke;
    background-color: #272727;
    padding: 0.781vw;
    padding-left: 1.042vw;
    padding-right: 1.042vw;
    border: 0.052vw solid #272727;
    border-radius: 0.521vw;
}


div.style-five1 {
    height: 5.556vw;
    /* background: url(../images/zolhr.png) no-repeat scroll left; */
    background-size: 5.556vw 5.208vw;
    }
    
hr.style-five1 {
    border-radius: 1.389vw;
    width: 80%;
    height: 0.347vw;
    margin-left: 6.944vw;
    margin-top: -1.389vw;
    border: 0;
    /* border-bottom: 0.208vw dashed #272727; */
    background: #272727;
    /* background: rgb(222,127,127);
    background: linear-gradient(90deg, rgba(222,127,127,1) 0%, rgba(240,26,26,1) 100%); */
    }

    .mainMarketContainer {
        display: flex;
        height: 100%;
        width: 100%;
        /* background-color: blue; */
        margin-bottom: 6.944vw;
        padding-top: 10.417vw;
        padding-bottom: 3.472vw;
    }

    .leftMarketContainer {
        flex: 30%;
        /* background-color: blueviolet; */
        /* margin: 0 auto 0.694vw; */
        padding-top: 2.084vw;
        padding-bottom: 3.472vw;
        padding-left: 5.556vw;
    }

    .leftMarketSection {
        margin-top: 13.194vw;
        width: 100%;
        height: 100%;
        /* background-color: lime; */
    }

    .leftTop.is-active .leftMarketSection {
        position: fixed;
        top: -5.243vw;
        width: 31.25vw;
    }

    .leftTop.is-active {

    }

    /* .leftTop.is-active .leftMarketSection .leftMarketBtn {
        margin-bottom: 50px;
    } */

    .leftMarketTitle {
        display: flex;
        align-items: center;
    }


    .leftMarketTxtContainer {
        padding: 0.694vw 0.694vw 0.694vw 0.694vw;
    }

    .leftMarketCardTxt1 {
        margin-right: 0.694vw;
    }

    .leftMarketCardTxt1 span {
        font-size: 3.472vw;
    }

    .leftMarketCardTxt2 span{
        font-size: 3.472vw;
    }

    .leftMarketCardName {
        display: flex;
        align-items: center;
        font-size: 2.083vw;
    }
    
    .leftMarketCardContainer {
        display: flex;
        justify-content: center;
    }

    .leftMarketNftCardImg {
        border: 2.002px solid black;
        border-radius: 1.042vw;
        width: 22.917vw;
        height: 20.833vw;
        background-size: cover;
    }


    .leftMarketTestSecion {
        display: flex;
        align-items: center;
        width: 23.611vw;
        /* height: 2.778vw; */
    }

    .leftMarketCardPrice{
        font-size: 1.389vw;
        margin-right: 1.389vw;
    }
    .leftMarketCardNum {
        font-size: 1.389vw;
        margin-left: 1.389vw;
    }

    .leftMarketcolhr {
        border-left: 0.208vw solid black;
        height: 2.778vw;
        
    }

    .leftMarketBtn {
        display: flex;
        /* margin-top: 1.389vw; */
    }

    .leftMarketBtn button {
        width: 22.917vw;
    }

    .lefthr {
        height: 0.347vw;
        background-color: black;
        border-radius: 1.389vw;

    }

    .rightMarketContainer {
        flex: 70%;
        padding: 3.472vw 2.083vw 2.083vw 3.472vw;
        
    }

    .rightMarketSection {
        width: 100%;
        height: 100%;
    }

    .rightMarketTitle {
        margin-bottom: 2.083vw;
        font-size: 2.778vw;

    }

    .rightMarketTitle p {
    }

    .rightMarketCardContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row ;
        flex-wrap: wrap; 
    }

    .rightMarketMainCardList:hover {
        cursor: pointer;
    }

    .rightMarketCardList {
        width: 17.361vw;
        height: 25vw;
        border-radius: 1.042vw;
        box-shadow:gray 0vw 0.139vw 1.389vw;
        margin-bottom: 1.042vw;
        background-color: white;
        margin-right: 1.042vw;
        margin-left: 1.042vw;
    }
    
    .rightMarketCardList:hover { 
        border: 2.995px solid rgba(44, 14, 2, 0.35)
    }
    
    .rightMarketNftCard {
        width: 17.361vw;
        height: 15.972vw;
        background-size: cover;
        border-radius: 1.042vw;
    }

    .rightMarketCardTxtContainer {
        width: 16.111vw;
        height: 7.778vw;
        padding:  0.625vw 0.625vw 0.625vw 0.625vw
    }

    .rightMarketCardTxtSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    } 
    
    .rightMarketCardDnaTxt {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .rightMarketCardDnaTxt1 {
        font-size: 1.042vw;
        display: flex;
        margin-right: 0.695vw;

    }

    .rightMarketCardDnaTxt2 {
    }

    .rightMarketCardDnaTxt span {
        font-size: 0.903vw;
    }

    .rightMarketCardNum {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rightMarketCardNum span{
        font-size: 22.669px;
    }

    .rightMarketPrice {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rightMarketPrice span{
        font-size: 1.25vw;
    }

    .rightMarketOwner{
        display: flex;
        align-items: center;
        font-size: 0.903vw;
        width: 100%;
        height: 100%;
    }

    .rightMarketOwner1 {
        margin-right: 0.694vw;
    }

    /* Dropdown style */
@keyframes slide-fade-in-dropdown-animation {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .slide-fade-in-dropdown {
    overflow: hidden;
  }
  
  .slide-fade-in-dropdown > ul {
    animation: slide-fade-in-dropdown-animation .4s ease;
  }
  
  @keyframes slide-fade-out-dropdown-animation {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }
  
  .slide-fade-out-dropdown {
    overflow: hidden;
  }
  
  .slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
  }
  
  .components-dropdown > ul {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
  }


  /* 반응형 */
/* @media only screen and (max-width: 900px){

    .marketTitleContainer {
        height: 60.005px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform:rotate(-3deg);
        top: -2.083vw;
        margin-bottom: 6px;
    }
    
    .marketTitleContainer h2{
        font-size: 25px;
        color: whitesmoke;
        background-color: #272727;
        padding: 7px;
        padding-left: 9px;
        padding-right: 9px;
        border: 0.052vw solid #272727;
        border-radius: 0.521vw;
    }
    
    
    div.style-five1 {
        height: 5.556vw;
        background-size: 5.556vw 5.208vw;
        }
        
    hr.style-five1 {
        border-radius: 1.389vw;
        width: 80%;
        height: 0.347vw;
        margin-left: 62.006px;
        border: 0;
        background: #272727;
        }
    .mainMarketContainer {
        display: flex;
        height: 100%;
        width: 100%;
        margin-bottom: 99.994px;
        padding-top: 100px;
        padding-bottom: 3.472vw;
    }

    .leftMarketContainer {
        flex: 30%;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

    .leftMarketSection {
        margin-top: 120px;
        width: 100%;
        height: 100%;
    }

    .leftTop.is-active .leftMarketSection {
        position: fixed;
        top: 0px;
        width: 400px;
    }


    .leftMarketTxtContainer {
        padding: 6.2px 6.2px 6.2px 6.2px
    }

    .leftMarketTitle {
        display: flex;
        align-items: center;
    }

    .leftMarketCardTxt1 {
        margin-right: 6.2px;
    }

    .leftMarketCardTxt1 span {
        font-size: 10px;
    }

    .leftMarketCardTxt2 span{
        font-size: 10px;
    }

    .leftMarketCardName {
        margin-top: 3.1px;
        font-size: 18px;
    }
    
    .leftMarketCardContainer {
        display: flex;
        justify-content: center;
    }

    .leftMarketNftCardImg {
        border: 2.002px solid black;
        border-radius: 1.042vw;
        width: 210px;
        height: 191px;
        background-size: cover;
    }


    .leftMarketTestSecion {
        display: flex;
        margin-top: 3.1px;
        width: 156px;
    }

    .leftMarketCardPrice{
        font-size: 12px;
        margin-right: 12px;
    }
    .leftMarketCardNum {
        font-size: 12px;
        margin-left: 12px;
    }

    .leftMarketcolhr {
        border-left: 0.208vw solid black;
        height: 2.778vw;
        
    }

    .leftMarketBtn {
        display: flex;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .leftMarketBtn button {
        width: 206px;
    }

    .lefthr {
        height: 0.347vw;
        background-color: black;
        border-radius: 1.389vw;

    }

    .rightMarketContainer {
        flex: 70%;
        padding: 31px 18px 18px 31px;
        
    }

    .rightMarketSection {
        width: 100%;
        height: 100%;
    }

    .rightMarketTitle {
        margin-bottom: 29.995px;
        font-size: 25px;

    }

    .rightMarketTitle p {
    }

    .rightMarketCardContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row ;
        flex-wrap: wrap; 
    }

    .rightMarketMainCardList:hover {
        cursor: pointer;
    }

    .rightMarketCardList {
        width: 156px;
        height: 224px;
        border-radius: 1.042vw;
        box-shadow:gray 0vw 0.139vw 1.389vw;
        margin-bottom: 1.042vw;
        background-color: white;
        margin-right: 1.042vw;
        margin-left: 1.042vw;
    }
    
    .rightMarketCardList:hover { 
        border: 2.995px solid rgba(44, 14, 2, 0.35)
    }
    
    .rightMarketNftCard {
        width: 156px;
        height: 143px;
        background-size: cover;
        border-radius: 1.042vw;
    }

    .rightMarketCardTxtContainer {
        width: 134.8px;
        height: 81px;
        padding: 3px 5.6px 5.6px 5.6px
    }

    .rightMarketCardTxtSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    } 
    
    .rightMarketCardDnaTxt {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .rightMarketCardDnaTxt1 {
        font-size: 10px;
        display: flex;
        margin-right: 6.2px;

    }

    .rightMarketCardDnaTxt2 {
    }

    .rightMarketCardDnaTxt span {
        font-size: 10px;
    }

    .rightMarketCardNum {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rightMarketCardNum span{
        font-size: 12.5px;
    }

    .rightMarketPrice {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rightMarketPrice span{
        font-size: 1.25vw;
    }

    .rightMarketOwner{
        display: flex;
        align-items: center;
        font-size: 10px;
        width: 100%;
        height: 100%;
    }

    .rightMarketOwner1 {
        margin-right: 6.2px
    }
} */

@media only screen and (max-width: 843px){

    .marketTitleContainer {
        height: 60.005px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform:rotate(-3deg);
        top: -2.083vw;
        margin-bottom: 6px;
    }
    
    .marketTitleContainer h2{
        font-size: 25px;
        color: whitesmoke;
        background-color: #272727;
        padding: 7px;
        padding-left: 9px;
        padding-right: 9px;
        border: 0.052vw solid #272727;
        border-radius: 0.521vw;
    }
    
    
    div.style-five1 {
        height: 5.556vw;
        background-size: 5.556vw 5.208vw;
        }
        
    hr.style-five1 {
        border-radius: 1.389vw;
        width: 80%;
        height: 0.347vw;
        margin-left: 62.006px;
        border: 0;
        background: #272727;
        }
    .mainMarketContainer {
        display: flex;
        height: 100%;
        width: 100%;
        margin-bottom: 99.994px;
        padding-top: 100px;
        padding-bottom: 3.472vw;
    }

    .leftMarketContainer {
        flex: 30%;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-left: 50px;
    }

    .leftMarketSection {
        margin-top: 120px;
        width: 100%;
        height: 100%;
    }

    .leftTop.is-active .leftMarketSection {
        position: fixed;
        top: 0px;
        width: 500px;
    }


    .leftMarketTxtContainer {
        padding: 6.2px 6.2px 6.2px 6.2px
    }

    .leftMarketTitle {
        display: flex;
        align-items: center;
    }

    .leftMarketCardTxt1 {
        margin-right: 6.2px;
    }

    .leftMarketCardTxt1 span {
        font-size: 10px;
    }

    .leftMarketCardTxt2 span{
        font-size: 10px;
    }

    .leftMarketCardName {
        margin-top: 3.1px;
        font-size: 18px;
    }
    
    .leftMarketCardContainer {
        display: flex;
        justify-content: center;
    }

    .leftMarketNftCardImg {
        border: 2.002px solid black;
        border-radius: 1.042vw;
        width: 210px;
        height: 191px;
        background-size: cover;
    }


    .leftMarketTestSecion {
        display: flex;
        margin-top: 3.1px;
        width: 156px;
    }

    .leftMarketCardPrice{
        font-size: 12px;
        margin-right: 12px;
    }
    .leftMarketCardNum {
        font-size: 12px;
        margin-left: 12px;
    }

    .leftMarketcolhr {
        border-left: 0.208vw solid black;
        height: 2.778vw;
        
    }

    .leftMarketBtn {
        display: flex;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    .leftMarketBtn button {
        width: 206px;
    }

    .lefthr {
        height: 0.347vw;
        background-color: black;
        border-radius: 1.389vw;

    }

    .rightMarketContainer {
        flex: 70%;
        padding: 31px 18px 18px 31px;
        
    }

    .rightMarketSection {
        width: 100%;
        height: 100%;
    }

    .rightMarketTitle {
        margin-bottom: 29.995px;
        font-size: 25px;

    }

    .rightMarketTitle p {
    }

    .rightMarketCardContainer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row ;
        flex-wrap: wrap; 
    }

    .rightMarketMainCardList:hover {
        cursor: pointer;
    }

    .rightMarketCardList {
        width: 156px;
        height: 224px;
        border-radius: 1.042vw;
        box-shadow:gray 0vw 0.139vw 1.389vw;
        margin-bottom: 1.042vw;
        background-color: white;
        margin-right: 1.042vw;
        margin-left: 1.042vw;
    }
    
    .rightMarketCardList:hover { 
        border: 2.995px solid rgba(44, 14, 2, 0.35)
    }
    
    .rightMarketNftCard {
        width: 156px;
        height: 143px;
        background-size: cover;
        border-radius: 1.042vw;
    }

    .rightMarketCardTxtContainer {
        width: 134.8px;
        height: 81px;
        padding: 3px 5.6px 5.6px 5.6px
    }

    .rightMarketCardTxtSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    } 
    
    .rightMarketCardDnaTxt {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .rightMarketCardDnaTxt1 {
        font-size: 10px;
        display: flex;
        margin-right: 6.2px;

    }

    .rightMarketCardDnaTxt2 {
    }

    .rightMarketCardDnaTxt span {
        font-size: 10px;
    }

    .rightMarketCardNum {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rightMarketCardNum span{
        font-size: 12.5px;
    }

    .rightMarketPrice {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rightMarketPrice span{
        font-size: 1.25vw;
    }

    .rightMarketOwner{
        display: flex;
        align-items: center;
        font-size: 10px;
        width: 100%;
        height: 100%;
    }

    .rightMarketOwner1 {
        margin-right: 6.2px
    }
}



