.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 10.417vw);
    padding-top: 100px;
    color: whitesmoke;
}

.notFoundSection {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.notFoundSection h1{
    border-right: 4px solid black;
    padding-right: 15px;
    margin-right: 15px;
}

@media only screen and (max-width: 819px) {
    .notFoundSection h1{
        border-right: 4px solid black;
        padding-right: 10px;
        margin-right: 10px;
        font-size: 20px;
    }

    .notFoundSection h2{
        font-size: 20px;
    }
}