.stakingTitleContainer {
    padding-top: 150px;
    height: 4.167vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:rotate(-3deg);
    top: -2.083vw;
    margin-bottom: 10px;
}

.stakingTitleContainer h2{
    font-size: 2.778vw;
    color: whitesmoke;
    background-color: #272727;
    padding: 0.781vw;
    padding-left: 1.042vw;
    padding-right: 1.042vw;
    border: 0.052vw solid #272727;
    border-radius: 0.521vw;
}


div.style-five {
    height: 80px;
    background: url(../images/zolhr.png) no-repeat scroll left;
    background-size: 80px 75px;
    margin-left: 60px;
    }
    hr.style-five
    {
    border-radius: 20px;
    width: 80%;
    height: 5px;
    margin-left: 130px;
    margin-top: -20px;
    border: 0;
    /* border-bottom: 3px dashed #272727; */
    background: #272727;
    /* background: rgb(222,127,127);
    background: linear-gradient(90deg, rgba(222,127,127,1) 0%, rgba(240,26,26,1) 100%); */
    }


.stakingPageContainer {
    height: 100%;
    /* padding: 50px 100px 100px 100px; */
    /* background-color: red; */
}

.stakingPageTopSection {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.stakingRewardTxt span{
    font-size: 14px;
}

.joinGameContainer {
    margin-top: 10px;
    display: flex;
    margin-bottom: 30px;
}

.gameIcon {
    margin-left: 10px;
    cursor: pointer;
}

.zolTokenAmountContainer {
    margin-bottom: 40px;
    display: flex;
}

.miningZolTokenSection {
    border: 3px solid firebrick;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.miningZolTokenTitle {
    display: flex;
    justify-content: center;
}

.miningZolTokenAmount {
    display: flex;
    justify-content: center;
}

.myZolTokenSection {
    margin-left: 30px;
    border: 3px solid red;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myZolTokenTitle {
    display: flex;
    justify-content: center;
}

.myZolTokenAmount {
    display: flex;
    justify-content: center;
}

.slick-slider.firstSlider {
    width: 100%;
}

.slick-slider.secondSlider {
    width: 100%;
}

.refreshBtn {
    margin-left: 30px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: whitesmoke;
    border: 1px solid #141414;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px rgb(132 81 61 / 35%);
}

.refreshBtn:hover {
    background-color: whitesmoke;
    border: 2px solid #141414;
    color: whitesmoke;
}

.claimBtn {
    margin-left: 30px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: whitesmoke;
    border: 3px solid #141414;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgb(132 81 61 / 35%);
}

.claimBtn:hover {
    background-color: #141414;
    border: 2px solid #141414;
    color: whitesmoke;
}

.stakingPageMainSection {
    background-color: rgba(245, 245, 245, 0.4);
    padding: 50px 100px 100px 100px;
}

.stakingPageTitle {
    /* background-color: yellow; */
    margin-top: 30px;
    margin-bottom: 10px;
}

.stakingPageSpan1 {
    border-right: 2px solid black;
    padding: 10px;
}

.stakingPageSpan2 {
    padding: 10px;
}

.notStakingContainer {
    width: 100%;
    height: 600px;
    /* background-color: blueviolet; */
    border: 4px solid black;
    border-radius: 20px;
    /* padding: 40px 40px 20px 20px; */
}

.notStakingBoxSection {
    /* display: flex; */
    /* width: 100%; */
    /* height: 400px; */
    padding: 40px 40px 40px 40px;
    /* background-color: blue; */
    /* display: flex; */
}

.unStakeTxt {
    font-size: 14px;
}

.notStakingCardMainContainer {
    display: flex;
    height: 300px;
    flex-direction: row ;
    flex-wrap: wrap; 
    width: 100%;
}

.notStakingCardContainer {
    display: flex;
    margin-top: 40px;
}

.notStakingImgCard {
    width: 220px;
    height: 220px;
    border: 1px solid black;
    background-size: cover;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.notStakingImgCard input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: black;
}

.nonStakingCheckBox{
    visibility: hidden;
    /* display: none; */
    /* 아예 꺼버리는것과 숨기는것. 함수가 동작하지 않을 수 있음 */
}

.nonStakingCheckBoxCircle{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #272727;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}

.nonStakingCheckBoxCircle:after{
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #272727;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    content: "\2764";
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: relative;
    left: -1px;
    top: -1px;
    transition: 0.2s;
}

.nonStakingCheckBox:checked + .nonStakingCheckBoxCircle:after{
    opacity: 1;
}

.notStakingBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.notStakingBtn button {
    width: 800px;
}

/* com1 */
.comStakingContainer {
    width: 100%;
    height: 600px;
    /* background-color: blueviolet; */
    border: 4px solid black;
    border-radius: 20px;
    /* padding: 40px 40px 20px 20px; */
    margin-top: 100px;
}

.comStakingBoxSection {
    /* display: flex; */
    /* width: 100%; */
    /* height: 400px; */
    padding: 40px 40px 40px 40px;
    /* background-color: blue; */
    /* display: flex; */
}

.comStakingCardMainContainer {
    display: flex;
    height: 300px;
    flex-direction: row ;
    flex-wrap: wrap; 
    width: 100%;
}

.comStakingCardContainer {
    display: flex;
    margin-top: 40px;
}

.comStakingImgCard {
    width: 220px;
    height: 220px;
    border: 1px solid black;
    background-size: cover;
    border-radius: 20px;
    margin-right: 10px;
}

.comStakingImgCard input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: black;
}

/* .nonStakingCheckBox{
    display: none;
} */

.comStakingCheckBoxCircle{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #272727;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
}

.comStakingCheckBoxCircle:after{
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #272727;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    content: "\2764";
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: relative;
    left: -1px;
    top: -1px;
    transition: 0.2s;
}

.comStakingCheckBox:checked + .comStakingCheckBoxCircle:after{
    opacity: 1;
}

.comStakingBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.comStakingBtn button {
    width: 800px;
}
/**/
/* com */
/* .comStakingContainer {
    width: 100%;
    height: 100%;
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 100px;
}


.comStakingBoxContainer {
    display: flex;
}

.comStakingBoxSection {
    width: 100%;
    padding: 40px 40px 40px 40px;
}

.comStakginCardMainContainer{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

.comStakingCardContainer {
    
    display: flex;
    margin-top: 40px;
}

.comStakingImgCard {
    width: 220px;
    height: 220px;
    margin-right: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.comStakingImgCard img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.comStakingBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.comStakingBtn button {
    width: 800px;
    
} */
