.rightSideCotainer {
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 10.417vw; */
    /* box-sizing: border-box; */
}

.leftSideCotainer::before, .leftSideCotainer::after {
    box-sizing: border-box;
}

/* button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: whitesmoke;
    border: 0.104vw solid black;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightgray;
    border-radius: inherit;
    -webkit-transform: translate3d(0, 0.75em, -1em);
            transform: translate3d(0, 0.75em, -1em);
    transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  button.learn-more:hover {
    background: lightgray;
    -webkit-transform: translate(0, 0.25em);
            transform: translate(0, 0.25em);
  }
  button.learn-more:hover::before {
    -webkit-transform: translate3d(0, 0.5em, -1em);
            transform: translate3d(0, 0.5em, -1em);
  }
  button.learn-more:active {
    background: whitesmoke;
    -webkit-transform: translate(0em, 0.75em);
            transform: translate(0em, 0.75em);
  }
  button.learn-more:active::before {
    box-shadow: 0 0 0 0.104vw black, 0 0 black;
    -webkit-transform: translate3d(0, 0, -1em);
            transform: translate3d(0, 0, -1em);
  } */


.rightMintigSection {
    width: 26.042vw;
    height: 29.688vw;
    border: 0.104vw solid black;
    border-radius: 1.042vw;
    background-color: rgba(255, 255, 255);
    box-shadow: 0.26vw 0.26vw 0.26vw 0.26vw rgb(132 81 61 / 35%);
    /* margin-right: 10.417vw; */
}

.rightMintigSectionDetail1 {
    height: 4.167vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:rotate(-3deg);
    position: relative;
    top: -2.083vw;
}

.rightMintigSectionDetail1 h2{
    color: whitesmoke;
    background-color: #272727;
    padding: 0.781vw;
    padding-left: 1.042vw;
    padding-right: 1.042vw;
    border: 0.052vw solid #272727;
    border-radius: 0.521vw;
}

.rightMintigSectionDetail2 {
    height: 11.458vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testImageBox2 {
    width: 11.458vw;
    height: 11.458vw;
    border-radius: 1.563vw;
    border: 0.052vw solid black;
    background-color: whitesmoke;
    background-image: url("https://gateway.pinata.cloud/ipfs/QmbqfWrFSDF5ieNB792KgwxdXr5AHDDRE8u47MvdaAJrpS/10015.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0.26vw 0.26vw 0.26vw 0.26vw rgb(132 81 61 / 35%);
}

.rightMintigSectionDetail3 {
    height: 5.208vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .leftMintigSectionDetail3_button1 {
    width: 2.604vw;
    height: 2.604vw;
    border: 0.052vw solid whitesmoke;
    border-radius: 50%;
    margin: 2.604vw;
    font-size: 1.302vw;
}

.leftMintigSectionDetail3_button2 {
    width: 7.813vw;
    height: 2.604vw;
    color: whitesmoke;
    background-color: #193257;
    border: 0.052vw solid whitesmoke;
    border-radius: 0.781vw;
    font-size: 1.042vw;
} */

.rightMintigSectionDetail4 {
    height: 5.208vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:  0.052vw solid black;
}

.rightMintigSectionDetail4 h3{
    margin-left: 1.302vw;
    margin-right: 1.302vw;
}

.rightMintigSectionDetail5 {
    height: 4.167vw;
    padding-top: 2.083vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 36.458vw){

    .rightMintigSectionDetail1 {
        height: 4.167vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.781vw;
    }

    .rightMintigSectionDetail2 {
        height: 11.458vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .testImageBox2 {
        width: 9.375vw;
        height: 9.375vw;
        border-radius: 1.563vw;
        border: 0.052vw solid white;
        background-color: whitesmoke;
        background-image: url("https://gateway.pinata.cloud/ipfs/QmbqfWrFSDF5ieNB792KgwxdXr5AHDDRE8u47MvdaAJrpS/906.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .rightMintigSectionDetail3 {
        height: 5.208vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rightMintigSectionDetail4 {
        height: 5.208vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .rightMintigSectionDetail4 h3{
        margin-left: 1.302vw;
        margin-right: 1.302vw;
        font-size: 0.781vw;
    }
    
    
}

@media only screen and (max-width: 28.49vw) {
    .rightMintigSectionDetail4 h3{
        margin-left: 1.302vw;
        margin-right: 1.302vw;
        font-size: 0.625vw;
    }

    .rightMintigSectionDetail5 .learn-more {
        width: 5.208vw;
        height: 2.604vw;
        font-size: 0.625vw;
    }
}